VITE_SUPABASE_URL=https://njcdoqgagsazupcjszjt.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5qY2RvcWdhZ3NhenVwY2pzemp0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk4NTIwOTIsImV4cCI6MjA5NTQyODA5Mn0.Ff4ZJs96xouG9JJh3vHhe6SEjzonxZKGHBUoW_ri4mM
VITE_GROQ_API_KEY=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
